<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/new" method="POST" id="googleForm">
            <input type="text" placeholder="Search">
            <br>
            <br>
            <input type="checkbox" id="title">
            <label for="">Title</label>
            <br>
            <br>
            <input type="checkbox" id="author">
            <label for="">Author</label>
            <br>
            <br>
            <button id="btn">Search Google API Book Store</button>
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>